body {
    background-color: #24afb4;
    color: white;
    font-family: "Times New Roman", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

button {
    background-color: #000000;
    color: white;
    font-family: "Times New Roman", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 60%;
}

img {
    max-width: 60%;
}